@charset "UTF-8";

* {margin: 0; padding: 0;} 

body {font-family: Arial, Helvetica, sans-serif; background-color: #ffffff;}

#content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #ffffff;
    height: 100px;
    width: 200px;
    padding: 10px;
    border-radius: 20px 10px;
    box-shadow: 0 0 6px rgba(0, 0, 0, 0.200);
}